.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-clearfix {
  clear: both;
}

ol, ul {
  list-style: none;
  padding-inline-start: 0px;
  /* где нормалайзер? */
}

.font-weight-bold {
  font-weight: 700;
}

.hidden-form-field {
  display: none;
}

.main-menu {
  margin-top: 20px;
}

.react-selectize.root-node {
  position: relative;
  width: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
