.properties {
  background: #eee;
}

.properties-form {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.properties-form__submit {
  width: 175px;
}

.properties-form legend {
  padding-top: 15px;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: bold;
  border-bottom: 0;
}

@media (min-width: 640px) {
  .properties {
    padding: 16px 30px 30px;
    max-width: 1200px;
    margin: 0 auto;
  }
}

@media (max-width: 639px) {
  .properties {
    background: #fff;
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
  }
}

@media (max-width: 991px) {
  .properties-form .mortgage, .properties-form .instalments {
    float: left;
    width: 16.66666667%;
  }

  .properties-form__submit {
    width: 100%;
  }

  .properties-form .col-sm-12 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 639px) {
  
  .properties-form {
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 1px solid #d7d7d7;
  }
}

@media (max-width: 575px) {
  .properties-form .mortgage, .properties-form .instalments {
    float: left;
    width: 33%;
  }
}